body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#erpTable table {
    border-collapse: collapse;
}

    #erpTable table th, #erpTable table td {
        padding: 2px 6px;
    }

    #erpTable table td {
        text-align: right;
    }

#erpTable .loading td {
    text-align: left;
}

#erpTicker {
    overflow: hidden;
    /*margin-left: 60px;*/
    width: 500px;
    height: 24px;
    border: 1px solid #999;
}

    #erpTicker .inner {
        width: 4096px;
    }

    #erpTicker ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #erpTicker li {
        display: inline-block;
        margin-right: 8px;   
    }

    /*<li data-symbol="{Symbol}"><span class="symbol">{Symbol}</span><span class="price">{Price}</span><span class="change">{PercentChange}</span></li>*/
    /*<tr><th>Type</th><th>Total</th><th>Number Of</th><th>Largest</th><th>Average</th></tr>*/
    #erpTicker .Type {
        font-weight: bold;
    }
/*
    #erpTicker .change {
        font-style: italic;
    }
*/